html, body, * {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    font-weight:400;
    font-family:Titillium Web,sans-serif;
}

.DSM-Background{
    background: url('images/DSM-background.png');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0;
    position: fixed;
    z-index: -100000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.DSM-Background::before {
    background-color: rgba(0,0,0,0.5);
}

.DSM-Background::before,.DSM-Background:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

header{
    width: 55em;
    height: 52px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
}

header .DSM-About_ExDragine{
    display: block;
    position: relative;
    font-size: 30px;
    line-height: 1;
    letter-spacing: .02em;
}

header .DSM-About_ExDragine .DSM-ExDragine_avatar{
    position: absolute;
    margin-top: 12px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 8px 0 rgba(148, 148, 148, 0.5), 0 2px 4px 0 rgba(95, 95, 95, 0.5);
}

header .DSM-About_ExDragine .DSM-ExDragine_avatar img{
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

header .DSM-ExDragine_Info{
    padding: 0 0 0 42px;
    text-align: center;
    color: #fff;
}

header .DSM-ExDragine_Info .Name{
    display: inline-block;
    width: auto;
    user-select: none;
    font-size: 19px;
    line-height: 32px;
}

header .DSM-ExDragine_Info .description{
    width: auto;
    user-select: none;
    font-size: 13px;
    letter-spacing: .05em;
}

header .DSM_spacer{
    flex-grow: 1;
    flex-shrink: 0
}

header .DSM_menu{
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
}

header .DSM_menu a{
    margin-top: 10px;
    font-size: 10px;
    color: rgba(220, 220, 220, 0.84)
}

header .DSM_bottom{
    width: 815px;
    border-radius: 3px;
    position: absolute;
    margin-top: 35px;
    border-bottom: 1px solid #bcbcbc;
}

main{
    color: #fff;
    position: absolute;
    width: 55em;
    min-height: 70px;
    padding: 45px;
    margin-top: 10em;
    display: flex;
    align-items: center;
}

main .DSM-LOGO{
    margin: 0 auto;
    text-align: center;
    margin-top: 195px;
    height: 160px;
    width: 100%;
}

main .DSM-LOGO .DSM-LOGO_LF{
    font-family: 'Ubuntu',sans-serif;
    position: relative;
    color: rgba(255, 255, 255, 0.76);
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: .65em;
    clear: both;
    margin-top: 20px;
}

/* Made By @mashirozx */
.glitch {
    position: relative;
    color: #fff;
    mix-blend-mode: lighten
}

.glitch:before,.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0);
    clip: rect(0,0,0,0)
}

.glitch:before {
    left: -1px;
    text-shadow: 1px 0 #afafaf
}

.glitch:after {
    left: 1px;
    text-shadow: -1px 0 #515151
}

.glitch:hover:before {
    text-shadow: 4px 0 #afafaf;
    animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}

.glitch:hover:after {
    text-shadow: -5px 0 #515151;
    animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip: rect(36px,9999px,9px,0)
    }

    25% {
        clip: rect(25px,9999px,99px,0)
    }

    50% {
        clip: rect(50px,9999px,102px,0)
    }

    75% {
        clip: rect(30px,9999px,92px,0)
    }

    100% {
        clip: rect(91px,9999px,98px,0)
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px,9999px,9px,0)
    }

    25% {
        clip: rect(25px,9999px,99px,0)
    }

    50% {
        clip: rect(50px,9999px,102px,0)
    }

    75% {
        clip: rect(30px,9999px,92px,0)
    }

    100% {
        clip: rect(91px,9999px,98px,0)
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px,9999px,119px,0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px,9999px,19px,0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px,9999px,11px,0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(95px,9999px,53px,0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px,9999px,149px,0)
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px,9999px,119px,0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px,9999px,19px,0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px,9999px,11px,0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(95px,9999px,53px,0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px,9999px,149px,0)
    }
}
/* Made By @mashirozx */

::selection {
    background: #b2b8c1;
    color: #fff;
}